/* Color palette
#333333
#575757
#7E7E7E
#A7A7A7
#D2D2D2
*/

@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');

@font-face {
    font-family: "Honk";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/honk/v1/m8J7jftUea-XwTaemClumrBQbmvynOmXBji9zFhHRr8WFgV7pLFM.woff2") format("woff2");
    unicode-range: U+0??, U+131, U+152-153, U+2bb-2bc, U+2c6, U+2da, U+2dc, U+304, U+308, U+329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}

.bajux-custom-font-1 {
    font-family: "Honk", system-ui !important;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.banner {
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

[class*="bajux-tuning-banner"],
.bajux-fast-delivery-banner {
    height: 500px;
}

.bajux-tuning-banner-1 {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/tuning-1_usb5d8.png");
}

.bajux-tuning-banner-2 {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/tuning-2_p2rrrb.png");
}

.bajux-tuning-banner-3 {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/tuning-3_sppzql.png");
}

.bajux-tuning-banner-4 {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/tuning-4_bvu3n4.png");
}

.bajux-fast-delivery-banner {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/banner-envios-cohete_qmxopm.png");
}

.bajux-offer-timer {
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/bajux/timer_qpauok.gif");
    background-position: center;
    height: 100px;
}

#bajux-item-description {
    color: #7E7E7E;
}

#bajux-item-description h6,
#bajux-item-description a {
    color: #333333;
}

#bajux-item-description a {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #575757;
}

#bajux-item-description a:hover {
    color: #7E7E7E;
    text-decoration: none;
}

/* Media query for devices with a minimum width of 425px and a maximum width of 767px */
@media only screen and (min-width: 425px) and (max-width: 767px) {

    [class*="bajux-tuning-banner"],
    .bajux-fast-delivery-banner {
        height: 300px; /* Height for medium screens */
    }
}

/* Media query for devices with a width lower than 425px */
@media only screen and (max-width: 424px) {

    [class*="bajux-tuning-banner"],
    .bajux-fast-delivery-banner {
        height: 200px; /* Height for small screens */
    }
}
