@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css');

@font-face {
    font-family: "Honk";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/s/honk/v1/m8J7jftUea-XwTaemClumrBQbmvynOmXBji9zFhHRr8WFgV7pLFM.woff2") format("woff2");
    unicode-range: U+0??, U+131, U+152-153, U+2bb-2bc, U+2c6, U+2da, U+2dc, U+304, U+308, U+329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd;
}

.bajux-custom-font-1 {
    font-family: "Honk", system-ui !important;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.bajux-fast-delivery-banner {
    height: 300px;
    width: auto;
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/banner-envios-cohete.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.bajux-offer-timer {
    height: 100px;
    width: auto;
    background-image: url("https://res.cloudinary.com/drjsknnc8/image/upload/q_auto/v1715370227/timer_qpauok.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bajux-item-description {
    color: #767676;
}

#bajux-item-description h6,
#bajux-item-description a strong {
    color: #333;
}
